DATABASE_URL="postgresql://postgres:password@localhost:5432/qetabet_db?schema=public"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
TELEBIRR_APP_ID="demo-telebirr-app-id"
CHAPA_PUBLIC_KEY="CHAPUBK_TEST-demo"
